body { background:#eee; margin:1em; text-align:center; }
canvas { display:block; margin:1em auto; background:#fff; border:1px solid #ccc }
.bar { position: absolute; left: 0; right: 0; bottom: 0; min-height: 80px; background-color: #dedede; }
.bar ul li { display: inline-block; }
.bar ul li:after { content: " > "; }
.bar ul li:last-child:after { content: ""; }
.bar ul li.active { color: green; }